# MINTmap profile of {{ fragment_type }}-tRFs for {{ assembly }} (Program version: {{ version }}, Mapping bundle version: {{ mapping_bundle_version }})
# Arguments used: {{ used_arguments_str }}
# RPM* - Using [{{ reads_count }}] as denominator - total number of reads in this output file
# RPM** - Using [{{ all_reads_count }}] as denominator - total number of reads in FASTQ file
# RPM*** - Using [{{ custom_rpm }}] as denominator - custom denominator passed in with -c parameter.
# output generated at {{ execution_timestamp_str }}
License Plate	tRF sequence	tRF type(s)	Unnormalized read counts	RPM*	RPM**	RPM***	Sequence locations in tRNA space (comma delimited)

